// source/sass/_variables.scss

// Cores
$background-color: #f5f6fa;
$primary-color: #182C61;
$button-bg-color: #44bd32;
$button-hover-bg-color: #4cd137;
$text-color: #fff;

// Tipografia
$font-family: 'Roboto', sans-serif;

// Espaçamento
$container-padding: 16px 0;
$border-radius: 8px;
$product-border-radius: 16px;

// Layout
$max-width-container: 1024px;
$max-width-container-responsive: 80%;
$column-gap: 1%;
$row-gap: 4%;
$product-item-margin-bottom: 32px;
